:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --main-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
  font-family: var(--main-font-family);
}

.about-hero {
  padding: 160px 20px;
  text-align: center;
  font-family: var(--main-font-family);
}

.projects-contact {
  padding: 160px 20px;
  text-align: center;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 50px;
}

p,
.link-social {
  opacity: 70%;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.hero p,
.link-social {
  font-size: 36px;
  font-family: var(--main-font-family);
  font-weight: bold;
  color: #272142;
  margin: 0;
  text-decoration: none;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 24px;
}

.project-p {
  padding: 90px 60px;
}

.reasons {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
}

.reasons {
  display: inline;
}

.project-description {
  margin-top: 100px;
}

.dark-btn {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
}

.contact-list {
  background-color: var(--secondary-color);
  padding: 70px 0;
}

.about-hero h1 {
  font-size: 64px;
}

.about-hero h2 {
  font-size: 40px;
}

.projects-contact h1 {
  font-size: 64px;
}

.hero a:hover {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

.hero a:visited {
  color: var(--secondary-color);
}

.project-p a:hover,
.projects-contact a:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-decoration: none;
}

a.link-social:hover {
  border: none;
}

@media (max-width: 900px) {
  .hero h1,
  .projects-contact h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  .hero,
  .about-hero,
  .projects-contact {
    padding: 50px 20px;
  }

  h2 {
    font-size: 50px;
  }

  .project-p {
    text-align: center;
    padding: 20px;
  }

  .project-description {
    margin-top: 20px;
  }
}
