:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --main-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
}

body {
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 50px;
}

nav {
  padding: 10px 0;
  margin: 0;
}

nav p {
  color: white;
}

nav li {
  margin-left: 10px;
  margin-bottom: 0;
  list-style-type: none;
  display: inline;
  line-height: 50px;
}

li a {
  color: #272142;
  text-decoration: none;
}

p {
  color: rgb(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.link-social {
  color: rgb(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px 100px;
  text-align: center;
  font-family: var(--main-font-family);
}

.about-hero {
  padding: 160px 20px 100px;
  text-align: center;
  font-family: var(--main-font-family);
}

.projects-contact {
  padding: 160px 20px 100px;
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-family: var(--main-font-family);
  font-weight: bold;
  color: #272142;
  margin: 0;
  text-decoration: none;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 24px;
}

.project-p {
  padding: 40px 60px;
}

.reasons {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
  display: inline;
}

.project-description {
  margin-top: 100px;
}

.dark-btn {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
}

.contact-list {
  background-color: var(--secondary-color);
  padding: 70px 0;
}

.logo {
  font-size: 30px;
  padding: 60px 10px 10px;
  margin: 0;
  color: white;
  text-decoration: none;
}

.navigation-bar {
  background-color: var(--main-color);
  margin-left: 0;
  margin-right: 0;
  padding: 5px 40px;
  max-width: 100%;
  color: white;
}

.about-hero h1 {
  font-size: 64px;
}

.about-hero h2 {
  font-size: 40px;
}

.projects-contact h1 {
  font-size: 64px;
}

.footer-box {
  padding: 40px;
  background-color: var(--secondary-color);
}

.footer-box .dark-btn {
  margin: 20px auto;
}

.footer-box p {
  margin: 0;
}

footer .logo-footer a,
footer .logo-footer a:visited {
  color: var(--main-color);
  font-size: 30px;
  margin: 20px;
  padding: 10px 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  line-height: 1;
}

footer .logo-footer a:hover {
  color: white;
  background-color: var(--main-color);
}

.active,
nav a:hover {
  color: var(--secondary-color);
}

.hero a:hover {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

.hero a:visited {
  color: var(--secondary-color);
}

.project-p a:hover,
.reasons:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-decoration: none;
}

.dark-btn:hover {
  color: white;
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  background-color: var(--main-color);
}

a.link-social:hover {
  border: none;
}

@media (max-width: 900px) {
  .hero h1,
  .projects-contact h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  .hero,
  .about-hero,
  .projects-contact {
    padding: 80px 20px;
  }

  h2 {
    font-size: 50px;
  }

  .project-p {
    text-align: center;
    padding: 20px;
  }

  .project-description {
    margin-top: 20px;
  }

  .footer-box h3,
  .footer-box p {
    text-align: center;
  }
}
